<div [formGroup]="form">
    <label [attr.for]="filter.key">{{ filter.label }}</label>
    <div [ngSwitch]="filter.controlType">
        <input
            *ngSwitchCase="'checkbox'"
            [formControlName]="filter.key"
            type="checkbox"
            [id]="filter.key">
        <select
            *ngSwitchCase="'select'"
            [formControlName]="filter.key"
            [id]="filter.key">
            <option
                *ngFor="let option of filter.options"
                [value]="option.key"
                [selected]="option.key === filter.value">
                {{ option.value }}
            </option>
        </select>
    </div>
</div>