<div class="filter">
    <form [formGroup]="form">
        <div *ngFor="let filter of filters">
            <pkv-filter-item [filter]="filter" [form]="form"></pkv-filter-item>
        </div>
    </form>
</div>


