<section class="result-page">
  <section class="result-page__specifications">
    Specifications
  </section>
  <section class="result-page__filter">
    <pkv-filter (updateEvent)="onFilterUpdate($event)"></pkv-filter>
  </section>
  <section class="result-page__result">
    <pkv-result-list [result]="result"></pkv-result-list>
  </section>
</section>
