.result-page {
  display: grid;
  grid-template-areas:
    'specifications specifications'
    'filter result';

  &__specifications {
    grid-area: specifications;
  }

  &__filter {
    grid-area: filter;
    width: 150px;
  }

  &__result {
    grid-area: result;
  }
}